/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Sixtyfour+Convergence&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Sixtyfour+Convergence&display=swap");
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.custom-alert {
  padding: 15px;
  background-color: #4caf50;
  color: white;
  position: fixed;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  border-radius: 5px;
  font-size: 16px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.warning {
  background-color: #fc1f15;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
html {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #2f4f4f;
  font-family: "Roboto Condensed", sans-serif;
  height: 100vh;
}

a {
  text-decoration: none;
  width: -moz-fit-content;
  width: fit-content;
  color: #fc1f15;
}

#logo {
  padding-top: 5px;
  padding-left: 5px;
  width: 8rem;
}

h1 {
  color: #fc1f15;
  font-size: 4rem;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  margin: 20px 0;
}

.h2 {
  font-size: 2.6rem;
}

h2 {
  text-align: center;
  font-size: 2.6rem;
  margin: 10px 0;
  color: #fc1f15;
}

h3 {
  text-align: center;
  font-size: 2.3rem;
  margin: 10px 0;
  color: #fc1f15;
}

.h3 {
  font-size: 2.3rem;
}

p {
  font-size: 1.8rem;
}

.btn {
  color: #fffefd;
  background-color: #fc1f15;
  font-size: 1.2rem;
  width: 15rem;
  border: none;
  border-radius: 15px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.btn:hover {
  font-weight: bold;
  color: #fc1f15;
  background-color: whitesmoke;
}

footer {
  display: flex;
  justify-content: flex-end;
  color: #fc1f15;
  background-color: #fffefd;
  justify-content: space-between;
  margin-top: auto;
  padding: 0 2rem;
}
footer p {
  padding: 10px 0;
}

nav {
  background-color: #fffefd;
  display: flex;
  justify-content: space-between;
}
nav .navbar {
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 1rem;
}
nav .navbar a {
  padding: 1rem;
}
nav .navbar a img:hover {
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: 1px 1px 5px 3px rgba(19, 18, 18, 0.2);
}
nav .navbar .text-anchor:hover {
  color: white;
  background-color: #fc1f15;
  margin: 2px;
}

.menu-burger {
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
}

@media screen and (max-width: 900px) {
  .logo-container {
    margin-bottom: 1px;
    padding-bottom: 5px;
    box-shadow: 1px 1px 1px 1px rgba(19, 18, 18, 0.2);
  }
  .logo-container #logo {
    width: 6.5rem;
  }
  nav {
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 1px 1px rgba(19, 18, 18, 0.2);
  }
  nav .navbar {
    display: none;
    flex-direction: column;
  }
  nav .active {
    display: flex;
  }
  .text-anchor {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .menu-burger {
    display: block;
  }
}
.card {
  background-color: rgba(40, 40, 38, 0.3);
  border-radius: 50px;
  box-shadow: 1px 1px 5px 3px rgba(255, 255, 255, 0.2);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  width: 25%;
  height: 50rem;
  margin: 2rem;
  padding: 10px;
}
.card .card-header {
  padding-bottom: 2rem;
  border-bottom: 1px solid gray;
  width: 100%;
}
.card .card-header h3 {
  font-size: 2rem;
}
.card .card-header h3:hover {
  color: #fc1f15;
}
.card .card-img {
  display: flex;
  align-items: center;
  width: 60%;
}
.card .card-img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.card .card-icons {
  display: flex;
  flex-basis: 1;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-top: 1px solid gray;
  padding: 10px 0;
}
.card .card-icons img {
  width: 30px;
}
.card .card-icons img:hover {
  box-shadow: 1px 1px 1px 1px rgba(19, 18, 18, 0.2);
  padding: 2px;
}

.card:hover {
  opacity: 0.8;
  box-shadow: 1px 1px 5px 3px rgba(252, 31, 21, 0.5);
  transform: translateY(-5px);
}

@media screen and (max-width: 1024px) {
  .card {
    width: 35%;
  }
}
@media screen and (max-width: 640px) {
  .card {
    width: 70%;
    margin: 10px 0;
  }
}
@media screen and (max-width: 424px) {
  .card {
    margin: 10px 0;
  }
}
.container {
  background-color: rgba(40, 40, 38, 0.3);
  border-radius: 50px;
  box-shadow: 1px 1px 5px 3px rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
  font-size: 1.5rem;
  margin: 20px;
  flex-wrap: wrap;
  width: 80%;
}
.container .checklist {
  display: flex;
  align-items: center;
  height: 30rem;
  margin: 3rem 3rem 0;
  padding: 1rem;
  font-size: 2.3rem;
  color: #fc1f15;
  gap: 2rem;
}
.container .checklist .checklist-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
  border: 1px gray solid;
  border-radius: 15px;
  height: 100%;
  width: 20%;
}
.container .checklist .checklist-header h3 {
  font-size: 1.5rem;
  padding-top: 1rem;
}
.container .checklist .checklist-header .progressBar {
  height: 10px;
  width: 80%;
  background-color: #fc1f15;
  margin-bottom: 2rem;
  border-radius: 15px;
}
.container .checklist .checklist-header .progressBar .progress {
  background-color: white;
  width: 30%;
  height: 10px;
  border-radius: 15px;
}
.container .checklist .checklist-header .checklist-image {
  display: flex;
  justify-content: center;
  width: 80%;
  height: 150px;
}
.container .checklist .checklist-header .checklist-image img {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 15px;
}
.container .checklist .checklist-body {
  border: 1px gray solid;
  width: 80%;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  justify-content: space-between;
  height: 100%;
  border-radius: 15px;
}
.container .checklist .checklist-body .checklist-dynamic {
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  align-items: center;
}
.container .checklist .checklist-body .checklist-dynamic .btn {
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 1rem;
}
.container .checklist .checklist-body .checklist-dynamic .status {
  width: 15px;
  height: 15px;
}

input[type=checkbox] {
  transform: scale(1.8);
}

#display-block {
  display: flex;
  justify-content: center;
}

#addBtn {
  display: flex;
  margin-left: 11rem;
}
#addBtn button {
  background-color: white;
  font-size: 2.3rem;
  color: #fc1f15;
  width: -moz-fit-content;
  width: fit-content;
}
#addBtn button:hover {
  background-color: #fc1f15;
  color: white;
}

@media screen and (max-width: 640px) {
  #addBtn {
    justify-content: center;
    margin: 0;
  }
  .container .checklist {
    margin-bottom: 2rem;
    border: 1px gray solid;
    padding: 2rem;
    border-radius: 15px;
    flex-direction: column;
    height: -moz-fit-content;
    height: fit-content;
  }
  .container .checklist .checklist-body {
    width: 80%;
    margin: 1rem;
  }
  .container .checklist .checklist-header {
    width: 80%;
    margin: 0;
  }
}/*# sourceMappingURL=myList.css.map */