@import "./libs/style";
@import "libs/container.scss";
@mixin selectStyle() {
}
.container {
	width: 50%;
	padding: 0;
	justify-content: center;
}
form {
	padding: 20px 0;
	display: flex;
	flex-direction: column;
	align-items: start;
	gap: 10px;

	label {
		font-size: 1.6rem;
		font-weight: bold;
		color: $primary-color;
	}
	.input-add-form {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		gap: 5px;
	}
	input,
	select,
	textarea {
		border-radius: $input-border-radius;
		color: $primary-color;
	}
	input,
	textarea {
		padding: 8px;
		width: 30vw;
	}

	textarea {
		height: 20rem;
	}

	select {
		width: fit-content;
		text-align: center;
		padding: 3px;
	}
}
.btn-container {
	display: flex;
	width: 100%;
	justify-content: center;
}

@media screen and (max-width: 1024px) {
	.container {
		width: 60%;
		form {
			width: 50%;
		}
	}
}
@media screen and (max-width: 824px) {
	.container {
		width: 80%;
		align-items: center;
		form {
			width: 40%;
		}
	}
}
@media screen and (max-width: 424px) {
	.container {
		.card {
			margin: 10px 0;
		}
	}
}
