@import "./libs/style";
#display-block {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh;
}
#intro {
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2rem;
	@include containerStyle();
	h2,
	h3 {
		color: white;
	}
	h1 {
		border-bottom: 1px white solid;
		padding-bottom: 2rem;
	}
	#action-search {
		margin-top: 2rem;
		font-size: $h3;
		width: fit-content;
	}
}
