@import "./libs/style";
@import "libs/cards.scss";
@import "libs/container.scss";

.container {
	@include containerStyle();
	display: flex;
	justify-content: center;
	height: fit-content;
	padding: 10px;
	font-size: 1.5rem;
	margin: 20px;
	flex-wrap: wrap;
	width: 80%;
}
input[type="checkbox"] {
	transform: scale(1.8);
}
.btn-list {
	position: absolute;
	right: 20px;
	top: 10px;
	border-radius: 5px;
	cursor: pointer;
}
.btn-list:hover {
	background-color: aliceblue;
}
.listMode {
	flex-direction: column;
}
.cardListMode {
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	height: fit-content;
	padding: 0;
	margin: 0;
	margin-top: 30px;
	.card-header {
		width: fit-content;
		padding-left: 10px;
		h3 {
			margin: 0;
		}
	}
	.card-img {
		display: none;
	}
	.card-icons {
		width: 20%;
		justify-content: space-evenly;
		gap: 5px;
		padding-right: 5px;
	}
}
#display-block {
	display: flex;
	justify-content: center;
}
@media screen and (max-width: 640px) {
	.container {
		flex-direction: column;
		align-items: center;
	}
}
