@import "./libs/reset.scss";
@import "./libs/backgroud-blur.scss";
// colors :
$primary-color: #fc1f15;
$layout: #fffefd;
$btn-txt-color: #fffefd;
// font-sizes :
$body-size: 10px;
$text-size: 1.6rem;
$h1: 3rem;
$h2: 2.1rem;
$h3: 1.8rem;
// basic-opacity
$block-opacity: 0.3;
a {
	text-decoration: none;
	width: fit-content;
	color: $primary-color;
}
#logo {
	width: 200px;
}
body {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: $body-size;
	background-color: #434343;
}
h1 {
	color: $primary-color;
	font-size: 3.5rem;
	text-align: center;
}
.h2 {
	font-size: 2.1rem;
}

.h3 {
	font-size: 1.8rem;
}
p {
	font-size: 1.6rem;
}
main {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	// filter: blur(10rem);
}
.formInput {
	background-color: #d9d9d9;
	border: none;
	width: 50%;
	padding: 10px;
	box-sizing: border-box;
	border-radius: 15px;
	margin: 10px 0;
}
.linked-text {
	font-size: 0.9rem;
	font-weight: bold;
	text-decoration: underline;
	padding: 10px 0;
}
#loginContainer {
	background-color: rgba(#fffefd, $block-opacity);
	display: flex;
	flex-direction: column;
	width: 30%;
	border-radius: 50px;
	padding: 10px;
	font-size: 1.5rem;
	// height: 300px;
}
#loginForm {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 10px;
}
label {
	width: fit-content;
	text-align: center;
	margin: 10px 0;
}
nav {
	background-color: $layout;
	display: flex;
	justify-content: space-between;
	border: 1px black solid;
}
#navbar {
	font-size: 1.6rem;
	font-weight: bold;
	display: flex;
	align-items: center;
	gap: 10px;
}
.alt-log {
	display: flex;
	justify-content: center;
	margin: 10px 0;
}
.btn {
	color: $btn-txt-color;
	background-color: $primary-color;
	width: 200px;
	border: none;
	border-radius: 15px;
	padding: 10px;
}
form + p {
	font-size: 1.2rem;
	font-weight: bold;
	text-align: center;
}
